.DS_Store
*.*~
*.class
src/java/recite18th
build/web/css
build/web/images
build/web/WEB-INF
build/web/js
build/web/META-INF
dist/
build/web/*.*
build/web/upload/*
/web/upload/_notes
/Thumbs.db
/web/Thumbs.db
/web/images/Thumbs.db
/web/upload/Thumbs.db